<form method="post" , action="">
    Title :<input type="text" name="title" >
    contenu :<input type="text" name="contenu" >
    auteur :<input type="text" name="auteur" >
    Dtae de publication :<input type="date" name="datePublication" >
    <input type="submit" value="OK" name="submit">
</form> 
