{% extends "base.html.twig" %}
{% block body %}
<center>
   
    
    <table width="50%" border="1" cellspacing="1" cellpadding="5">
        <tr>
            <th><center>userId</center></th>
            <th><center>title</center></th>
            <th><center>body</center></th>
          
           
      
            
        </tr>
       
           
      
        <tr>
           <td><center>{{ arr.userId }}</center></td>
           <td><center>{{arr.title}}</center></td>
           <td><center>{{arr.body}}</center></td>
        
      
        </tr>
              
    </table>
    </center>
   
    {% endblock %}